# Server
PORT=5005
NODE_ENV=development

# Database
MONGODB_URI=mongodb://user:password@localhost:27017/loan-credit?authSource=admin

# RabbitMQ
RABBITMQ_URI=amqp://user:password@localhost:5672

# Origins
FRONTEND_DOMAIN_URL=http://localhost:3000

# Transaction System Configuration
SYSTEM_ACCOUNT_ID=official-system-ledger-account-id

# Other Service Endpoints
TRANSACTION_SERVICE_URL=http://localhost:5004/api/v1
