# Server
PORT=5002
NODE_ENV=development

# Database
MONGODB_URI=mongodb://user:password@localhost:27017/user-account?authSource=admin

# RabbitMQ
RABBITMQ_URI=amqp://user:password@localhost:5672

# Origins
FRONTEND_DOMAIN_URL=http://localhost:3000
