# Server
PORT=5003
NODE_ENV=development

# RabbitMQ
RABBITMQ_URI=amqp://user:password@localhost:5672

# SMTP Configuration (Emails)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your-email@example.com
SMTP_PASS=your-password

# Other Service Endpoints
USER_SERVICE_URL=http://localhost:5002/api/v1
