# Server
PORT=5004
NODE_ENV=development

# Database (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/transaction_db?schema=public"

# RabbitMQ
RABBITMQ_URI=amqp://user:password@localhost:5672

# Origins
FRONTEND_DOMAIN_URL=http://localhost:3000

# Other Service Endpoints
ACCOUNT_SERVICE_URL=http://localhost:5002/api/v1
