# Server
PORT=5006
NODE_ENV=development

# Database
MONGODB_URI=mongodb://user:password@localhost:27017/payment-billing?authSource=admin

# Origins
FRONTEND_DOMAIN_URL=http://localhost:3000

# Other Service Endpoints
USER_SERVICE_URL=http://localhost:5002/api/v1
ACCOUNT_SERVICE_URL=http://localhost:5002/api/v1
TRANSACTION_SERVICE_URL=http://localhost:5004/api/v1